:root > * {
  --md-primary-fg-color: #900a18;
  --md-primary-fg-color--light: #ecb7b7;
  --md-primary-fg-color--dark: #900a18;
  --md-accent-fg-color: #fa2d50;
  --md-typeset-a-color: #fa2d50;
  --md-footer-bg-color: #900a18;
  --md-footer-bg-color--dark: #620710;
  --get-badge-bg-color: #4eceb1;
  --post-badge-bg-color: #5e56f7;
  --put-badge-bg-color: #e6b200;
  --delete-badge-bg-color: #ec002d;
}

* [src~="rounded"],
.rounded {
  border-radius: 9px;
}

* [src~="shadow"],
.shadow {
  box-shadow:
    rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

* [src~="limit-width"] {
  max-width: 500px !important;
}

.md-header__button.md-logo {
  transform: scale(1.7);
}

.inline-flex {
  align-items: center;
  display: inline-flex;
  gap: 2px;
}

.badge {
  border-radius: 5px;
  color: var(--md-typeset-color);
  font-size: 0.6rem;
  font-weight: 800;
  margin-right: 5px;
  padding: 5px 15px;
  align-items: center;
  max-height: 40px;
  display: flex;
}

.get {
  background-color: var(--get-badge-bg-color);
}

.post {
  background-color: var(--post-badge-bg-color);
}

.put {
  background-color: var(--put-badge-bg-color);
}

.delete {
  background-color: var(--delete-badge-bg-color);
}

.md-ellipsis {
  overflow: unset;
}

.md-nav {
  min-width: 250px;
}
